{% extends 'base.html' %}

{% set page_head_title = 'My Profile' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('seller.static', filename='css/seller.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <div class="RevCont">
    <div class="seller-info">
        <img id="sellerImg" src="../../../images/seller.jpg" alt="Seller Image">
        <div class="seller-details">
            <h1>Yael Cohen</h1>
            <div class="rating-box">Rating: 5</div>
            <div class="products-box">Number of Products: 2</div>
            <div class="phone">Phone Number: 052-1234567</div>
        </div>
    </div>

    <h2 class="sellerHeader">Yael Cohen's Products</h2>

    <div class="product-posts">
        <div class="product-post">
            <a href="../../Product/Templates/Product.html">
            <img src="../../../images/Poncho.png" alt="Product Image">
            </a>
            <div class="product-info">
                <div class="product-name">Poncho</div>
                <div class="product-description">New with tags</div>
                <div class="product-price">20₪</div>
            </div>
            <img src="../../../images/like.png" alt="Corner Image" class="corner-img">
        </div>
        <div class="product-post">
            <img src="../../../images/blazer.png" alt="Product Image">
            <div class="product-info">
                <div class="product-name">Blazer</div>
                <div class="product-description">Used - like new</div>
                <div class="product-price">120₪</div>
            </div>
            <img src="../../../images/like.png" alt="Corner Image" class="corner-img">
        </div>
    </div>
    <a href="../../Reviews/Templates/reviews.html">
    <h2 class="ReviewHeader">Reviews</h2>
    </a>

    <div class="reviews">
        <div class="review">
            <img id="man" src="../../../images/man1.jpg" alt="Reviewer Image">
            <div class="review-details">
                <div class="review-author">Dor Levi</div>
                <div class="review-text">The seller is very nice! I got a product from Yael, for my girlfriend and she loved it!!!</div>
                <div class="review-stars">
                    <img id="stars" src="../../../images/stars.jpg"/>
                </div>
            </div>
    </div>
</div>
{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('seller.static', filename='js/seller.js') }}"></script>
{% endblock %}
