.form{
    text-align: center;
    justify-content: center;
}
h2{
    text-align: center;
}
#signupButton{
    cursor: pointer;
}
#signupButton:hover {
    text-decoration: underline;
}
#butCont{
    margin-bottom: 50px;
    cursor: pointer;
}

.logo{
    text-align: center;
}
#logo{
    border-radius: 50%;
    width: 100px;
    height: 50px;
}
